{%extends 'base.html'%} {% block content %} {{block.super}}

<div class="container-fluid">
  <div style="color:#4F0505;">
  <h1 style="text-align:center;font-family: 'Monoton', cursive;">Welcome to Galleria</h1>

  <h2 style="text-align:center;font-family: 'Charmonman', cursive;">Where all your Gallery dreams come true</h2>
<hr style="color:#4F0505;">
  </div>

<div class="row">
  {% for image in images %}
  <div class="col-md-4">
    <div class="image-container">
      <a class="img-thumbnail" href="{{image.image}}" data-image-id="{{image.id}}" data-toggle="modal" data-target="#{{image.id}}">
                    <img src="{{ image.image.url }}" alt="Image" id="img{{image.id}}" class="img-responsive" alt="image" style="height:400px; width: 400px;">
                </a>
    </div>

    <div  class="modal fade" id="{{image.id}}">
      <div class="modal-dialog modal-dialog-centered" style="max-width: 100px;" role="document">
        <div class="modal-content">
          <div class="card" style="width:400px">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <h4 class="card-title"style="width:100%">{{ image.image_name }}</h4>
              </div>



            </div>

            <img class="card-img-top" src="{{ image.image.url }}" alt="Card image" style="width:100%" id="{{ image.image.url }}">
            <div style="width:100%" class="card-body">

              <p style="font-family: 'Lato', serif" class="card-text">description : {{image.description }}</p>
              <p>{{ image.location }}</p>
              <form>
                <input type="text" id="copy" value="https://bashir-tribune.herokuapp.com{{image.image.url}}">

              </form>
              <button style="border: 5px black;" type="button" class="btn btn-outline-success" onclick="myFunction()">Copy Link</button>
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

<style>
.img-thumbnail{
  background-color: #4F0505;
}
.image-container{
  margin-bottom: 100px;
}

</style>

<script>
  function myFunction() {
    var text = document.getElementById("copy");
    text.select();
    document.execCommand("copy");

    var tooltip = document.getElementById("myTooltip");
    alert("Copied succesfully " );
  }
</script>
{% endblock %}
